<div th:replace="compartilhado/header"></div>
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Promoções </h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="/">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Promoções </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
      <div class="title-content text-left mb-lg-5 mb-4">
        <h6 class="sub-title">Visite</h6>
        <h3 class="hny-title">Destinos Populares</h3>
      </div>
      <div class="row bottom-ab-grids">
  
        <div class="col-lg-6 subject-card mt-lg-0 mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Ilha de Queimada Grande</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$2219</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 subject-card mt-lg-0 mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Bankok</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$2679</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
          
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Maldivas</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1399</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g4.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Grecia</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1650</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
          
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g5.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Londres</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1730</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Alpes Julianos</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1900</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
          
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g7.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                	<h4>Tailandia</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1350</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 subject-card mt-4">
          <div class="subject-card-header p-4">
            <a href="#" class="card_title p-lg-4d-block">
              <div class="row align-items-center">
                <div class="col-sm-5 subject-img">
                  <img src="assets/images/g8.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                  <h4>Singapura</h4>
                  <p>3Dias, 4 Noites</p>
                  <div class="dst-btm">
                    <h6 class=""> À partir de: </h6>
                    <span>R$1850</span>
                  </div>
                  <p class="sub-para">Por pessoa</p>
                </div>
              </div>
            </a>
          </div>
        </div>
       
      </div>
    </div>
  </section>
<div th:replace="compartilhado/footer"></div>
  